<!DOCTYPE html>

<html>

<head>
    <link href="{{url_for('static', filename='admin.css')}}" rel='stylesheet' type='text/css'>

    <title>Green mile Admin</title>

</head>

<body>

    <form method="post">
        <div class="box">
            <h1>Admin</h1>

            <input type="text" palceholder="" value="" class="email" />

            <input type="text" placeholder="" value="" class="email" />

            <a href="http://127.0.0.1:5000/admin/">
                <div class="btn">Sign In </a></div>
            </a>
           
        </div> 

    </form>

    <p>Forgot your password? <u style="color:#f1c40f;">Click Here!</u></p>

</body>

</html>