<!DOCTYPE html>

<html>

<head>
    <link href="{{url_for('static', filename='admin.css')}}" rel='stylesheet' type='text/css'>

    <title>Green mile Admin</title>

</head>

<body>

    <form method="post">
        <div class="box">
            <h1>Admin</h1>

            <input type="text" palceholder="Username" value="Username" class="email" />

            <input type="text" placeholder="Password" value="Password" class="email" />

            <a href="#">
                <div class="btn">Sign In</div>
            </a> 
           
        </div> 

    </form>

    <p>Forgot your password? <u style="color:#f1c40f;">Click Here!</u></p>

</body>

</html>