<!DOCTYPE html>

<html>

<head>
    <link href="{{url_for('static', filename='stylesheet.css')}}" rel='stylesheet' type='text/css'>

    <title>Green Mile</title>

</head>

<body>

    <form method="post">
        <div class="box">
            <h1>Green Mile</h1>

            <input type="text" palceholder="Username" value="Username" class="email" />

            <input type="text" placeholder="Password" value="Password" class="email" />

            <a href="#">
                <div class="btn">Sign In</div>
            </a> 
           
        </div> 

    </form>

    <p>Login as Admin? <u style="color:#f1c40f;" >href = "/adminlogin.html">Click Here!</u></p>

</body>

</html>